body{
    background-color: #EBEBEB;
    /* border: solid 4px red; */
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: sans-serif;
}

.main-container{
    /* border: solid 3px green; */
    margin-top: 1.4rem;
    margin-left: 6.5rem;
    display: flex;
}

.main-container .operate{
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 22.5rem;
}

.main-container .operate .add-task{
    /* border: solid 1px red; */

    font-size: 3rem;
    font-weight: bold;
    color: #2F73F1;
}
.main-container .operate .options{
    padding-left: 1.6rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 15.5rem;
}

.main-container .operate .options .txt{
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: rgb(53, 53, 197);
}

.main-container .operate .options .scroll{
    padding-top: 1.5rem;
    color: rgb(53, 53, 197);
}
.main-container .operate .options .scroll .select{
    border: solid 0.01rem rgb(150, 139, 159);
    border-radius: 0.5rem;
    background-color: #EFEFEF;
    width: 16rem;
    padding: 0.5rem;
}

.main-container .operate .options .input{
    border: solid 0.01rem rgb(150, 139, 159);
    border-radius: 0.5rem;
    padding: 0.5rem;    
}

.main-container .operate .options .add{
    /* border: solid 1px red; */
    
    background: #2F73F1;
    color: white;
    margin-top: 1.8rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.main-container .operate .options .add:hover{
    cursor: pointer;
    color: black ;
}


.container-2{
    /* border: solid 1px red; */
    display: flex;
    flex-basis: 30rem;
    justify-content: center;
    align-items: center;
}
.main-container .task-list{
    /* border: solid 1px red; */
    background: white;
    border-radius: 0.5rem;
    flex-basis: 25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.img-box{
    align-self: flex-start;
    padding: 0.6rem;
    border-radius: 50%;
    box-shadow: 0 1px 5px gray;

}
.main-container .task-list img{
    object-fit: contain;
    width: 2rem;
    height: 2rem;
}
.main-container .task-list .details{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    flex-basis: 20rem;
    gap: 1rem;
}
.main-container .task-list .details .priority{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
}

.main-container .task-list .details .priority .text-1{
    background: #F15F91;
    text-align: center;
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    color: white;
}

.main-container .task-list .details .priority .text-2{
    border-radius: 0.2rem;
    font-size: 0.6rem;
    color: gray;
    padding-right: 0.5rem;
}

.name{
    font-size: 1.5rem;
    color: #6C72B6;
}

.activities{

    display: flex;
    justify-content: flex-start;
    /* border: solid 1px red; */
    padding: 0.2rem 0.5rem;
    gap: 1rem;
}
.activity{
    color: #2F73F1;
    background: rgb(228, 220, 220);
    padding: 0.4rem;
    border-radius: 0.2rem;
    color: 5865F2;
}

.last-line{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
}

.work, 
.comments{
    color: #2F73F1;
}

